:root {
    --bg: #1e1e2e;
    --fg: #cdd6f4;
    --dark: #181825;
    --darker: #11111b;
    --surface0: #313244;
    --surface1: #45475a;
    --surface2: #585b70;
    --overlay0: #6c7086;
    --overlay1: #7f849c;
    --overlay2: #9399b2;
    --subtext0: #a6adc8;
    --subtext1: #bac2de;
    --pink: #f5c2e7;
    --red: #f38ba8;
    --mauve: #cba6f7;
    --marron: #eba0ac;
    --peach: #fab387;
    --yellow: #f9e2af;
    --green: #a6e3a1;
    --teal: #94e2d5;
    --sky: #89dceb;
    --sapphire: #74c7ec;
    --blue: #89b4fa;
    --lavander: #b4befe;
    background-color: var(--bg);
    color: var(--fg);
}
