{% extends "script.html" %}

{% block body %}
<header>
    <div class="container-fluid py-3 header">
        <div class="d-flex justify-content-between aligh-items-center">
            <div class="fs-2">Bem vindo prof. {{ nome }}</div>
            <div>
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSAzBE_P3rPclK8gJnC-y1Mq7kNOvyL8yUHlg&s" id="profile-pic" class="rounded-circle" alt="User Profile">
            </div>
        </div>
    </div>
</header>
{% block content %}{% endblock %}
{% endblock %}
