{
        % extends "base.html" %
    }

        {
        % block tema %
    }

        {
        % if tema=="claro" %
    }

    :root {
        --base: #e6e7ed;
        --secundario: #6c6e75;
        --vermelho: #8c4351;
        --laranja: #965027;
        --amarelo: #8f5e15;
        --marrom: #634f30;
        --verde: #385f0d;
        --ciano: #33635c;
        --azulClaro: #006c86;
        --azulEscuro: #0f4b6e;
        --azul: #2959aa;
        --roxo: #5a3e8e;
        --auxiliar1: #343b58;
        --auxiliar2: #40434f;
        --auxiliar3: #343b58;
    }

        {
        % endif %
    }

        {
        % endblock %
    }
